$article-layout-grid: (columns: 1, gutter: 5px)
$article-layout-grid--tablet-up: (columns: 12, gutter: 5px, media: "(min-width: 768px)")
$article-layout-grid--desktop-up: (columns: 12, gutter: 5px, media: "(min-width: 1280px)")

.chemex-intro
  @include grid-container
  //@include grid-visual
  background-color: rgba ($neutral, .95)

.chemex-intro .intro-body
  max-width: 450px

.chemex-body
  @include grid-container
  //@include grid-visual

.chemex-hero-image
  text-align: center
  padding-top: 3em
  @include grid-column(12)
  @include grid-media($article-layout-grid--tablet-up)
    @include grid-column(12)
  @include grid-media($article-layout-grid--desktop-up)
    @include grid-column(12)

.chemex-hero-image-size
  width: 100%

//.chemex-hero
  background-image: image-url("images/bg_chemex_splash.jpg")
  background-position: center top
  background-repeat: no-repeat
  background-size: cover
  width: 100%
  height: 150px
  padding-top: 3em
  @media(min-width: 768px)
    height: 400px
  @media(min-width: 780px)
    height: 725px

.chemex-research
  padding-top: 3em
  padding-bottom: 3em

.chemex-research-text
  padding-bottom: 1em
  @include grid-column(9)
  @include grid-push(2)
  @include grid-media($article-layout-grid--tablet-up)
    @include grid-column(8)
    @include grid-push(2)
  @include grid-media($article-layout-grid--desktop-up)
    @include grid-column(4)
    @include grid-push(1)

.chemex-research-image-mobile
  text-align: center
  @include grid-column(12)
  @include grid-media($article-layout-grid--tablet-up)
    display: none

.chemex-research-image
  display: none
  @include grid-media($article-layout-grid--tablet-up)
    display: inline-block
    text-align: center
    @include grid-column(12)
  @include grid-media($article-layout-grid--desktop-up)
    @include grid-column(12)

.chemex-research-image-size
  width: 100%

.chemex-identity
  padding-top: 3em
  padding-bottom: 3em

.chemex-identity-logo-image
  padding-bottom: 3em
  text-align: center
  @include grid-column(12)
  @include grid-media($article-layout-grid--tablet-up)
    @include grid-column(12)
  @include grid-media($article-layout-grid--desktop-up)
    @include grid-column(5)
    @include grid-push(2)

.chemex-identity-logo-image-size
  width: 100%
  @media(min-width: 768px)
    width: 85%
  @media(min-width: 1280px)
    width: 100%

.chemex-identity-logo-text
  padding-bottom: 1em
  @include grid-column(9)
  @include grid-push(2)
  @include grid-media($article-layout-grid--tablet-up)
    @include grid-column(8)
    @include grid-push(2)
  @include grid-media($article-layout-grid--desktop-up)
    padding-top: 4.75em
    @include grid-column(3.25)
    @include grid-push(0)

.chemex-identity-palette-image
  @extend .chemex-identity-logo-image
  padding-bottom: 0px

.chemex-identity-palette-image-size
  @extend .chemex-identity-logo-image-size

.chemex-identity-palette-text
  @extend .chemex-identity-logo-text
  @include grid-media($article-layout-grid--desktop-up)
    padding-top: 8.125em

.chemex-user
  background-color: #ADA8A4
  padding-top: 3em
  padding-bottom: 3em
  @media(min-width: 768px)
    padding-top: 3em
    padding-bottom: 3em

.chemex-user-data-text
  padding-bottom: 1em
  @include grid-column(9)
  @include grid-push(2)
  @include grid-media($article-layout-grid--tablet-up)
    @include grid-column(8)
    @include grid-push(2)
  @include grid-media($article-layout-grid--desktop-up)
    @include grid-column(4)
    @include grid-push(1)

.chemex-user-data-image
  text-align: center
  @include grid-column(12)
  @include grid-media($article-layout-grid--tablet-up)
    @include grid-column(12)
  @include grid-media($article-layout-grid--desktop-up)
    padding-top: 6em
    @include grid-column(5)
    @include grid-push(1)

.chemex-user-data-image-size
  width: 75%
  @media (min-width: 1280px)
    width: 85%

.chemex-user-strategy-text
  padding-top: 3em
  padding-bottom: 3em
  @include grid-column(9)
  @include grid-push(2)
  @include grid-media($article-layout-grid--tablet-up)
    @include grid-column(8)
    @include grid-push(2)
  @include grid-media($article-layout-grid--desktop-up)
    padding-top: 6em
    @include grid-column(4)
    @include grid-push(2)

.chemex-user-prefA
  padding-bottom: 3em
  @include grid-column(9)
  @include grid-push(2)
  @include grid-media($article-layout-grid--tablet-up)
    @include grid-column(8)
    @include grid-push(2)
  @include grid-media($article-layout-grid--desktop-up)
    padding-top: 3em
    max-width: 475px
    @include grid-column(4)
    @include grid-push(2)

.chemex-user-prefA-text
  padding-bottom: 2em

.chemex-user-prefA-image
  text-align: center

.chemex-user-prefA-image-size
  width: 80%

.chemex-user-prefB
  padding-bottom: 3em
  @include grid-column(9)
  @include grid-push(2)
  @include grid-media($article-layout-grid--tablet-up)
    @include grid-column(8)
    @include grid-push(2)
  @include grid-media($article-layout-grid--desktop-up)
    padding-top: 3em
    max-width: 475px
    @include grid-column(4)
    @include grid-push(1)

.chemex-user-prefB-text
  @extend .chemex-user-prefA-text

.chemex-user-prefB-image
  @extend .chemex-user-prefA-image

.chemex-user-prefB-image-size
  width: 80%

.chemex-user-choice-text
  padding-bottom: 3em
  @include grid-column(9)
  @include grid-push(2)
  @include grid-media($article-layout-grid--tablet-up)
    @include grid-column(8)
    @include grid-push(2)
  @include grid-media($article-layout-grid--desktop-up)
    @include grid-column(3)
    @include grid-push(6)

.chemex-user-choice-image
  text-align: center
  @include grid-column(12)
  @include grid-media($article-layout-grid--tablet-up)
    @include grid-column(12)
  @include grid-media($article-layout-grid--desktop-up)
    @include grid-column(12)

.chemex-user-choice-image-size
  width: 80%
  @media(min-width: 1280px)
    width: 50%

.chemex-prototype-text
  padding-top: 3em
  padding-bottom: 1em
  @include grid-column(9)
  @include grid-push(2)
  @include grid-media($article-layout-grid--tablet-up)
    @include grid-column(8)
    @include grid-push(2)
  @include grid-media($article-layout-grid--desktop-up)
    padding-top: 6em
    @include grid-column(4)
    @include grid-push(1)

.chemex-prototype-image
  text-align: center
  @include grid-column(12)
  @include grid-media($article-layout-grid--tablet-up)
    @include grid-column(12)
  @include grid-media($article-layout-grid--desktop-up)
    @include grid-column(12)

.chemex-prototype-image-size
  width: 100%
