---
title: Elevate Your Coffee
---

<header>
  <div class="nav-header">
    <div class="logo-header">
      <div id="logo-desktop"><img src="images/db_logo.png"/></a></div>
    </div>
    <div class="mySidenavMenu">
      <span onclick="openNav()">Menu</span>
    </div>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <img src="images/db_logo_extended.png"/>
      <ul>
        <a href="index.html">Home</a>
        <a href="">Work</a>
      </ul>
    </div>
    <div class="nav-menu">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="">Work</a></li>
      </ul>
    </div>
  </div>
</header>
<body>
  <div class="chemex-intro">
    <div class="project-intro">
      <p class="intro-body">  <br></p>
      <p class="intro-title">Elevate<br>your Coffee<br></p>
      <p class="intro-body">A concept design for a new responsive site for the Chemex coffeemaker: a glass, manual pour-over style of coffeemaker. The site focuses on the two primary benefits of the Chemex; the high quality taste and simple brewing process that has remained unchanged since 1941.</p>
      <div class="clearfix"></div>
    </div>
  </div>
  <section class="chemex-hero">
  </section>
  <div class="clearfix"></div>
  <section class="chemex-body">
    <section class="chemex-research">
      <div class="chemex-research-text">
        <h3 class="project-header">Where to Begin?</h3>
        <p class="project-body">The first step was to research the existing Chemex site to identify its strengths and weaknesses. Though the existing site had beautiful product imagery, the site was information dense with multiple menu options. The path to the Chemex store is not immediately apparent and requires navigating through the menu or scrolling. It was clear that the new responsive site should provide users with basic product benefits and easy access to the shop.</p>
      </div>
      <div class="chemex-research-image-mobile">
        <img src="images/chemex_research_existing_mobile.jpg" class="chemex-research-image-size"></img>
      </div>
      <div class="chemex-research-image">
        <img src="images/chemex_research_existing.jpg" class="chemex-research-image-size"></img>
      </div>
      <div class="clearfix"></div>
    </section>
    <section class="chemex-identity">
      <div class="chemex-identity-logo-image">
        <img src="images/chemex_identity_logo.jpg" class="chemex-identity-logo-image-size"></img>
      </div>
      <div class="chemex-identity-logo-text">
        <h3 class="project-subtitle">A Timeless Identity<br> for a Timeless Design</h3>
        <p class="project-body">The Chemex identity has shifted over the various years, often reflecting the graphic styles of its era. Given the unchanging design and process of the Chemex itself, it was decided to return to the original bold wordmark to update the identity.<br><br>
        Only slight modifications were made to the wordmark, including a simple radius on the corners of the letterforms and an underline of the letter “X” to represent the basic Chemex shape. </p>
      </div>
      <div class="clearfix"></div>
      <div class="chemex-identity-palette-image">
        <img src="images/chemex_identity_palette.jpg" class="chemex-identity-palette-image-size"></img>
      </div>
      <div class="chemex-identity-palette-text">
        <h3 class="project-subtitle">A Natural Palette</h3>
        <p class="project-body">An updated color palette uses natural tones while retaining the existing blue as an accent color. Alternate Gothic was chosen as the typeface for headers to reflect the updated wordmark and is paired with Garamond to create an elegant contrast for body text.</p>
      </div>
      <div class="clearfix"></div>
    </section>
    <section class="chemex-user">
      <div class="chemex-user-data-text">
        <h3 class="project-header-white">How do<br>you Brew?</h3>
        <p class="project-body-white">An initial user survey was developed to understand how users currently brew. A majority of users who used an Automatic Coffee Maker or Pod System (the Mechanical Brewers) indicated that they chose their brewing method based on brewing time required or the ease of the process. All users who indicated that they were using Pour Over/French Press methods (the Manual Brewer) indicated taste as their primary reason for choosing that method. Coffee quality and brewing time remained a consistent theme throughout the responses. Based on this feedback, the new Chemex site needed to address these two elements, beginning with a strong focus on the superior quality of the coffee, and a breakdown of the process/time required to make it.</p>
      </div>
      <div class="chemex-user-data-image">
        <img src="images/chemex_user_data.jpg" class="chemex-user-data-image-size"></img>
      </div>
      <div class="clearfix"></div>
      <div class="chemex-user-strategy-text">
        <h3 class="project-header-white">How do you sell a process?</h3>
        <p class="project-body-white">Two strategies were outlined to develop a marketing focus for the new site. After developing high fidelity desktop wireframes of two potential strategies, a quick preference test was developed to understand which strategy users found most effective.</p>
      </div>
      <div class="clearfix"></div>
      <div class="chemex-user-prefA">
        <div class="chemex-user-prefA-text">
          <h3 class="project-subtitle-white">Take Back your Morning</h3>
          <p class="project-body-white">“Take Back your Morning” focused on how the user could integrate the Chemex brewing process into their morning, as many users indicated that they chose their brewing process based on the time required for brewing</p>
        </div>
        <div class="chemex-user-prefA-image">
          <img src="images/chemex_user_prefA.jpg" class="chemex-user-prefA-image-size"></img>
        </div>
      </div>
      <div class="chemex-user-prefB">
        <div class="chemex-user-prefB-text">
          <h3 class="project-subtitle-white">Elevate Your Coffee</h3>
          <p class="project-body-white">“Elevate your Coffee” focused on the fact that the Chemex brewing process makes any brand of coffee taste better. It also focused on the simplicity of the brewing process and the equipment needed.</p>
        </div>
        <div class="chemex-user-prefB-image">
          <img src="images/chemex_user_prefB.jpg" class="chemex-user-prefB-image-size"></img>
        </div>
      </div>
      <div class="chemex-user-choice-text">
        <h3 class="project-subtitle-white">And the Winner is...</h3>
        <p class="project-body-white">All participating users preferred “Elevate your Coffee”, citing the fact that it made the process seem simple, and highlighted the product effectively. After making some slight adjustments to the “Elevate your Coffee” wireframe, responsive wireframes were developed for both mobile and tablet.</p>
      </div>
      <div class="clearfix"></div>
      <div class="chemex-user-choice-image">
          <img src="images/chemex-responsive-design.jpg" class="chemex-user-choice-image-size"></img>
      </div>
      <div class="clearfix"></div>
    </section>
    <section class="chemex-prototype">
      <div class="chemex-prototype-text">
        <h3 class="project-header">The Final Push</h3>
        <p class="project-body">The high fidelity wireframes provided a roadmap for the final prototype. Developed in HTML and CSS, the prototype helped to evolve responsive elements that were not apparent with simple wireframes.<br><br></p>
        <div class="chemex-link">
          <a href="https://darinbarnes.github.io/chemex/" target="_blank" class="basic-link"><h4><span class="link-text">View the Site ><br></span></h4></a>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="chemex-prototype-image">
          <img src="images/chemex_responsive_site.jpg" class="chemex-prototype-image-size"></img>
      </div>
    </section>
    <section class="project-footer">
      <div class="next-project-link">
        <a href="uniqlo.html" class="basic-link"><h4><span class="link-text">View Next Project > <br></span></h4></a>
      </div>
    </section>
  </section>
  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
  <script>
    window.sr = ScrollReveal({ reset: true });
    sr.reveal('.chemex-intro', {
      origin: 'left',
      duration: 1500,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.chemex-hero', {
      origin: 'bottom',
      duration: 1000,
      viewFactor: 0.25,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.chemex-research-text', {
      origin: 'bottom',
      duration: 1000,
      viewFactor: 0.1,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.chemex-research-image', {
      origin: 'bottom',
      duration: 1000,
      viewFactor: 0.1,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.chemex-identity-logo-text', {
      origin: 'bottom',
      duration: 1000,
      viewFactor: 0.1,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.chemex-identity-logo-image', {
      origin: 'bottom',
      duration: 1000,
      viewFactor: 0.1,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.chemex-identity-palette-image', {
      origin: 'bottom',
      duration: 1000,
      viewFactor: 0.1,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.chemex-identity-palette-text', {
      origin: 'bottom',
      duration: 1000,
      viewFactor: 0.1,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.chemex-user-data-text', {
      origin: 'bottom',
      duration: 1000,
      viewFactor: 0.1,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.chemex-user-data-image', {
      origin: 'bottom',
      duration: 1000,
      viewFactor: 0.1,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.chemex-user-strategy-text', {
      origin: 'bottom',
      duration: 1000,
      viewFactor: 0.1,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.chemex-user-prefA', {
      origin: 'bottom',
      duration: 1000,
      viewFactor: 0.1,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.chemex-user-prefB', {
      origin: 'bottom',
      duration: 1000,
      viewFactor: 0.1,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.chemex-user-choice-text', {
      origin: 'bottom',
      duration: 1000,
      viewFactor: 0.1,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.chemex-user-choice-image', {
      origin: 'bottom',
      duration: 1000,
      viewFactor: 0.1,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.chemex-prototype-text', {
      origin: 'bottom',
      duration: 1000,
      viewFactor: 0.1,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.chemex-prototype-image', {
      origin: 'bottom',
      duration: 1000,
      viewFactor: 0.1,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.next-project-link', {
      origin: 'bottom',
      duration: 1000,
      viewFactor: 0.1,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    </script>
  </body>
