---
title: Contact
---
<section class="sidenavSection">
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <img src="images/db_logo_extended.png"/>
    <ul>
      <a href="index.html">Home</a>
      <a href="work.html">Work</a>
      <a href="contact.html">Contact</a>
    </ul>
  </div>
  <span class="mySidenavMenu" onclick="openNav()">Menu</span>
</section>
<header>
  <div class="nav-header">
    <div class="logo-header">
      <div id="logo-desktop"><img src="images/db_logo.png"/></a></div>
    </div>
    <div class="nav-menu">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="work.html">Work</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
  </div>
</header>
<body class="contact-body">
  <section class="contact-intro">
    <div class="intro">
      <p class="intro-body">Hello, I'm<br></p>
      <p class="intro-title">Darin<br>Barnes<br></p>
      <p class="intro-body">Building on an architectural and graphic design background, I am a UX Designer interested in simple digital experiences that encourage users to engage with their physical world.<br><br></p>
      <div class="contact-link">
        <a href="mailto:barnes.darin@gmail.com?subject=Hello" class="basic-link"><h4><span class="link-text">Let's talk ><br></span></h4></a>
      </div>
    </div>
    <div class="clearfix"></div>
  </section>
  <section class="contact-experience">
    <div class="contact-experience-education">
      <h3 class="experience-header">Education</h3>
    </div>
  </section>
</body>
