---
title: U by Uniqlo - Concept Design
---
<section class="sidenavSection">
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <img src="images/db_logo_extended.png"/>
    <ul>
      <a href="index.html">Home</a>
      <a href="work.html">Work</a>
      <a href="contact.html">Contact</a>
    </ul>
  </div>
  <span class="mySidenavMenu" onclick="openNav()">Menu</span>
</section>
<header>
  <div class="nav-header">
    <div class="logo-header">
      <div id="logo-desktop"><img src="images/db_logo.png"/></a></div>
    </div>
    <div class="nav-menu">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="work.html">Work</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
  </div>
</header>
<body>
  <section class="uniqlo-intro">
    <div class="project-intro">
      <p class="intro-body">Welcome to<br></p>
      <p class="intro-title">U by<br>Uniqlo<br></p>
      <p class="intro-body">U by Uniqlo is a concept design for a retail companion app to enhance the Fitting Room and Check Out experience for users at their local Uniqlo.</p>
      <div class="clearfix"></div>
    </div>
    <div class="uniqlo-hero">
      <div class="uniqlo-hero-image">
        <img src="images/bg_uniqlo_splash.jpg" class="uniqlo-hero-image-size"></img>
      </div>
    </div>
  </section>
  <div class="clearfix"></div>
  <section class="uniqlo-body">
    <section class="uniqlo-research">
      <div class="project-image-one-half">
        <img src="images/uniqlo_research.gif" class="uniqlo-research-image"></img>
      </div>
      <div class="project-text-one-half">
        <div>
          <img src="images/uniqlo_research_icon.jpg" class="uniqlo-research-icon"></img>
        </div>
        <h3 class="project-header-white">How do you shop?<br></h3>
        <p class="project-body-white">Almost all users preferred in-store shopping, so the data regarding this experience became very important. The most informative feedback was found within the open-ended responses.<br><br></p>
        <h3 class="project-subtitle-white">A Tactile Connection<br></h3>
        <p class="project-body-white">A majority of the open-ended responses focused on the user’s ability to see, touch and try on items before purchasing. This need for a tactile connection was also evident in user feedback regarding the digital retail experience; many users were frustrated  with the wait for items to arrive, only to find they did not fit properly or match the product imagery. Users also expressed frustrations with long lines, crowds and pushy sales associates.</p>
      </div>
    </section>
    <section class="uniqlo-personas">
      <div class="project-image-one-third">
        <img src="images/uniqlo_up_alex.png" class="uniqlo-persona-image"></img>
      </div>
      <div class="project-image-one-third">
        <img src="images/uniqlo_up_brigid.png" class="uniqlo-persona-image"></img>
      </div>
      <div class="project-text-one-half">
        <h3 class="project-header">What's your experience?<br></h3>
        <p class="project-body">User personas echoed the results of the user surveys, but Alex indicated that he still liked to use digital retail apps & sites as a “look book” for styles. Brigid wanted the in-store try on to be optimized, as it can be frustrating to bring items into the fitting room only to have to get re-dressed to get additional sizes & styles.<br><br></p>
      </div>
      <div class="clearfix"></div>
      <div class="uniqlo-store-diagrams">
        <div class="project-image-one-fourth">
          <img src="images/uniqlo_store_01.png" class="uniqlo-store-image-up"></img>
        </div>
        <div class="project-image-one-fourth">
          <img src="images/uniqlo_store_02.png" class="uniqlo-store-image-down"></img>
        </div>
        <div class="project-image-one-fourth">
          <img src="images/uniqlo_store_03.png" class="uniqlo-store-image-up"></img>
        </div>
        <div class="project-image-one-fourth">
          <img src="images/uniqlo_store_04.png" class="uniqlo-store-image-down"></img>
        </div>
      </div>
      <div class="project-text-full">
        <h3 class="project-subtitle">Enhance the In-Store Experience<br></h3>
        <p class="project-body">Quick store plan diagrams explored various potential in-store scenarios, including in-store pickup, rapid pickup, fitting room pickup, and a Smart Bag technology for automatic check out.<br><br></p>
      </div>
    </section>
    <section class="uniqlo-simplicity">
      <div class="project-image-one-half">
        <img src="images/uniqlo_simplicity.gif" class="uniqlo-simplicity-list"></img>
      </div>
      <div class="project-text-one-half">
        <p class="project-body-white">The application continued to grow until it could no longer be considered an MVP, and much of the functionality could already be found on the existing mobile site. Most importantly, it no longer adhered to Uniqlo’s tag line:<br><br></p>
        <h3 class="project-header-white">Simple Made Better.<br></h3>
        <p class="project-body-white">Though many of these ideas could help to differentiate Uniqlo, U by Uniqlo needed to employ simplicity as a differentiator. By focusing on the fitting room and in-store check out experience, the application could remove many of the “road-blocks” that exist in the typical retail experience.</p>
      </div>
    </section>
    <section class="uniqlo-identity">
      <div class="uniqlo-identity-image-logo">
        <img src="images/uniqlo_identity.gif" class="uniqlo-identity-image-logo-size"></img>
      </div>
      <div class="uniqlo-identity-text">
        <h3 class="project-header">An Identity<br>within an Identity<br></h3>
        <p class="project-body">U by Uniqlo needed an identity that set itself apart from the typical Uniqlo experience, but also one that was clearly connected to the brand and its simplicity. The U by Uniqlo logo begins with the iconic red square logo. The “U” in Uniqlo is expanded to represent the personalized experience of the application (U=You) and is then pushed up, transforming the logo into the Smart Bag.</p>
        <img src="images/uniqlo_typography.jpg" class="uniqlo-identity-typography"></img>
        <p class="project-body">Campton was chosen as the typeface for U by Uniqlo, as its strong geometric shape provided a distinct contrast to the tall, narrow Uniqlo typeface.<br><br></p>
      </div>
      <div class="clearfix"></div>
    </section>
    <section class="uniqlo-story">
      <div class="uniqlo-story-A">
        <div class="uniqlo-story-intro-text">
          <h3 class="project-header">What's the<br>(Short) Story?<br></h3>
          <h3 class="project-subtitle-uniqlo">1. Browse & Send<br></h3>
          <p class="project-body">Browse a curated collection of styles and add items to your digital fitting room. Send the styles to your local Uniqlo to pick up and try on.<br><br></p>
          <h3 class="project-subtitle-uniqlo">2. Pick Up & Try On<br></h3>
          <p class="project-body">Visit your local Uniqlo to pick up your Smart Bag and items to try on. Use the Smart Mirror to request additional sizes or styles.<br><br></p>
          <h3 class="project-subtitle-uniqlo">3. Grab & Go<br></h3>
          <p class="project-body">Fill your Smart Bag with the items that you’d like to keep. Walk out of the store with your Smart Bag and you will automatically be charged for your items. No lines. No wait.<br><br></p>
          <div class="view-prototype-link">
            <a href="https://invis.io/K2FBTD1G69P#/244639937_Onboarding_Home" target="_blank" class="basic-link"><h4><span class="link-text">View Prototype > <br></span></h4></a>
          </div>
        </div>
        <div class="uniqlo-story-intro-image">
            <video autoplay loop>
              <source src="images/uniqlo_story.mp4" type="video/mp4" />
              Your browser does not support the video tag.
            </video>
            <!--img src="images/uniqlo_story.gif" class="uniqlo-story-intro-image-size"></img-->
        </div>
          <div class="clearfix"></div>
      </div>
      <div class="uniqlo-story-B">
        <div class="uniqlo-story-u>">
          <div class="uniqlo-story-u-image">
            <img src="images/uniqlo_story_onboarding.jpg" class="uniqlo-story-u-image-size"></img>
          </div>
          <div class="uniqlo-story-u-text">
            <!--h3 class="uniqlo-story-header">Who <br> are <span class="uniqlo-story-header-bold">U</span>?<br></h3-->
            <h3 class="project-subtitle">Who are U?<br></h3>
            <p class="project-body">The user fills out brief profile information which includes login information, gender preferences for apparel and their local Uniqlo store. This information refines the style selections for the user, and will only show styles available for try-on at their local store.<br><br></p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="uniqlo-story-1">
        <div class="uniqlo-story-C">
          <div class="uniqlo-story-1-text-browse">
            <h3 class="uniqlo-story-header"><span class="uniqlo-story-header-bold">1. </span>Browse<br>& Send<br></h3>
            <p class="intro-body">The main interface presents Style Recommendations which become refined over time. The user swipes left and right through styles and swipes up to reveal the individual items in the style. Users can add individual items to their digital Fitting Room which can be sent to their Uniqlo to pick up and try on in the store.<br><br></p>
            <h3 class="project-subtitle">Not your Style?<br></h3>
            <p class="project-body">In order to refine their style profile, users can swipe left on individual items to remove them and update their preferences.</p>
          </div>
          <div class="uniqlo-story-1-image-browse">
            <video autoplay loop>
              <source src="images/uniqlo_browse.mp4" type="video/mp4" />
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
        <div class="uniqlo-story-D">
          <div class="uniqlo-story-1-image-send">
            <img src="images/uniqlo_story_send.jpg" class="uniqlo-story-1-image-send-size"></img>
          </div>
          <div class="uniqlo-story-1-text-send">
            <h3 class="project-subtitle">When is good for you?<br></h3>
            <p class="project-body">Once items have been placed in the digital Fitting Room, the user can select additional sizes or colors to try on. The user then sets up a date for their items to be picked up at their local Uniqlo. Once a date is selected, a chart of popular times is displayed to help the user decide on an optimal time to arrive. The user sends the items to the store and is given a success message with a Pick Up Bin number and an option to receive an alert when ready.</p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="uniqlo-story-2">
        <div class="uniqlo-story-E">
          <div class="uniqlo-story-2-image-diagram">
            <img src="images/uniqlo_store_diagram.jpg" class="uniqlo-story-2-image-diagram-size"></img>
          </div>
          <div class="uniqlo-story-2-text-diagram">
            <h3 class="uniqlo-story-header"><span class="uniqlo-story-header-bold">2 </span>Pick Up<br>& Try On<br></h3>
            <h3 class="project-subtitle">Welcome to your Uniqlo<br></h3>
            <p class="project-body-highlight">After receiving a reminder alert, the user heads to their local Uniqlo to pick up and try on their items. Once the user enters the store, they are reminded to head to the U Concierge to pick up their items and Smart Bag (for first time users).<br><br><br></p>
          </div>
        </div>
        <div class="uniqlo-story-F">
          <div class="uniqlo-story-2-image-store">
            <img src="images/uniqlo_story_store.jpg" class="uniqlo-story-2-image-store-size"></img>
          </div>
        </div>
        <div class="uniqlo-story-G">
          <div class="uniqlo-story-2-text-concierge">
            <h3 class="project-subtitle">U Concierge<br></h3>
            <p class="project-body-highlight">Once the user enters the store, an alert reminds them to head to the U Concierge. The U Concierge is the dedicated retail space for U by Uniqlo. It contains the Pick Up bins, the U by Uniqlo Fitting Rooms and the Smart Bag pickup. First time users will be prompted to link their new Smart Bag to expedite check out.<br><br></p>
            <h3 class="project-subtitle">Unlock Your Styles<br></h3>
            <p class="project-body">After the Smart Bag is set up, the user is presented with their Bin Number along with a swiping action to unlock the bin.<br><br></p>
            <h3 class="project-subtitle">Find Your Room<br></h3>
            <p class="project-body">After collecing their items, the user is directed to a specific Fitting Room. The user is presented with another swiping action to unlock their Fitting Room.<br><br></p>
            <h3 class="project-subtitle">Smart Bag<br></h3>
            <p class="project-body">After unlocking the Fitting Room, the user is sent to their Smart Bag with a prompt on how to use it.<br><br></p>
          </div>
          <div class="uniqlo-story-2-image-concierge">
            <img src="images/uniqlo_story_concierge.gif" class="uniqlo-story-2-image-concierge-size"></img>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="uniqlo-story-H">
          <div class="uniqlo-story-2-image-fitting">
            <img src="images/uniqlo_story_fitting.jpg" class="uniqlo-story-2-image-fitting-size"></img>
          </div>
          <div class="uniqlo-story-2-text-fitting">
            <h3 class="project-subtitle">Try Your Styles<br></h3>
            <p class="project-body-highlight">The U by Uniqlo Fitting Rooms are enhanced Fitting Rooms complete with a locking door and Smart Mirror.<br><br></p>
            <h3 class="project-subtitle">Photo Op<br></h3>
            <p class="project-body">The curved back wall of the Fitting Room and a corner mounted phone mount allow users to take optimal “style selfies”. Future versions of U by Uniqlo could include social sharing to get real-time outfit feedback.<br></p>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="uniqlo-story-I">
          <div class="uniqlo-story-2-text-mirror">
            <h3 class="project-subtitle">Mirror, Mirror<br></h3>
            <p class="project-body">Once the user enters the Fitting Room, their U by Uniqlo data is accessible on a wall mounted touch screen mirror. Similar to the application interface, the user can request additional sizes or colors of their current items or any of the recommended items. Once the order is submitted, U by Uniqlo staff will bring the items directly to the Fitting Room.<br><br></p>
          </div>
          <div class="uniqlo-story-2-image-mirror">
            <video autoplay loop>
              <source src="images/uniqlo_story_mirror.mp4" type="video/mp4" />
              Your browser does not support the video tag.
            </video>
            <!--img src="images/uniqlo_story_mirror.gif" class="uniqlo-story-2-image-mirror-size"></img-->
          </div>
      </div>
      <div class="clearfix"></div>
      <div class="uniqlo-story-3">
        <div class="uniqlo-story-J">
          <div class="uniqlo-story-3-image-bag">
            <img src="images/uniqlo_story_bag.png" class="uniqlo-story-3-image-bag-size"></img>
          </div>
          <div class="uniqlo-story-3-text-bag">
            <h3 class="uniqlo-story-header"><span class="uniqlo-story-header-bold">3 </span>Grab & Go<br></h3>
            <p class="project-body-highlight">After linking their Smart Bag and adding payment information, the user places their selected items into their Smart Bag. Using RFID technology, the Smart Bag recognizes the contents of the bag and creates a digital shopping cart. The user can continue to browse and add items to their Smart Bag.<br><br></p>
          </div>
        </div>
        <div class="uniqlo-story-3-image-checkout">
          <img src="images/uniqlo_story_checkout.jpg" class="uniqlo-story-3-image-checkout-size"></img>
        </div>
        <div class="clearfix"></div>
        <div class="uniqlo-story-K">
          <div class="uniqlo-story-3-text-walkout">
            <h3 class="project-subtitle">Walk Out, Check Out<br></h3>
            <p class="project-body-highlight">Once the user is ready to check out, they can simply exit the store. Once the user has exited the store, their payment is processed and the user receives an alert to view the receipt if so desired. Once the transaction is complete, the interface returns to the Style Recommendations with fresh styles for the user to browse.<br><br></p>
          </div>
        </div>
        <div class="uniqlo-story-L">
          <div class="uniqlo-story-3-image-walkout">
            <img src="images/uniqlo_story_walkout.jpg" class="uniqlo-story-3-image-walkout-size"></img>
          </div>
        </div>
      </div>
    </section>
    <section class="project-footer">
      <div class="next-project-link">
        <a href="sitemap.html" class="basic-link"><h4><span class="link-text">View Next Project > <br></span></h4></a>
      </div>
    </section>
  </section>
  <script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
  </script>
  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
  <script>
    window.sr = ScrollReveal({ reset: true });
    sr.reveal('.uniqlo-intro', {
      origin: 'left',
      duration: 1500,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.uniqlo-hero-image', {
      origin: 'bottom',
      duration: 1000,
      delay: 1000,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.uniqlo-research', {
      origin: 'bottom',
      duration: 1000,
      viewFactor: 0.1,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.uniqlo-personas', {
      origin: 'bottom',
      duration: 1000,
      viewFactor: 0.1,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.uniqlo-store-diagrams', {
      origin: 'bottom',
      duration: 1000,
      viewFactor: 0.1,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.uniqlo-simplicity', {
      origin: 'bottom',
      duration: 1000,
      viewFactor: 0.1,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.uniqlo-identity', {
      origin: 'bottom',
      duration: 1000,
      viewFactor: 0.1,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.uniqlo-story-A', {
      origin: 'bottom',
      duration: 1000,
      viewFactor: 0.1,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.uniqlo-story-B', {
      origin: 'bottom',
      duration: 1000,
      viewFactor: 0.1,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.uniqlo-story-1-text-browse', {
      origin: 'bottom',
      duration: 1000,
      viewFactor: 0.1,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.uniqlo-story-1-image-browse', {
      origin: 'bottom',
      duration: 1000,
      viewFactor: 0.1,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.uniqlo-story-1-image-send', {
      origin: 'bottom',
      duration: 1000,
      viewFactor: 0.1,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.uniqlo-story-1-text-send', {
      origin: 'bottom',
      duration: 1000,
      viewFactor: 0.1,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.uniqlo-story-2-image-diagram', {
      origin: 'bottom',
      duration: 1000,
      viewFactor: 0.1,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.uniqlo-story-2-text-diagram', {
      origin: 'bottom',
      duration: 1000,
      viewFactor: 0.1,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.uniqlo-story-2-image-store', {
      origin: 'bottom',
      duration: 1000,
      viewFactor: 0.1,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.uniqlo-story-2-text-concierge', {
      origin: 'bottom',
      duration: 1000,
      viewFactor: 0.1,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.uniqlo-story-2-image-concierge', {
      origin: 'bottom',
      duration: 1000,
      viewFactor: 0.1,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.uniqlo-story-2-image-fitting', {
      origin: 'bottom',
      duration: 1000,
      viewFactor: 0.1,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.uniqlo-story-2-text-fitting', {
      origin: 'bottom',
      duration: 1000,
      viewFactor: 0.1,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.uniqlo-story-2-text-mirror', {
      origin: 'bottom',
      duration: 1000,
      viewFactor: 0.1,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.uniqlo-story-2-image-mirror', {
      origin: 'bottom',
      duration: 1000,
      viewFactor: 0.1,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.uniqlo-story-J', {
      origin: 'bottom',
      duration: 1000,
      viewFactor: 0.1,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.uniqlo-story-K', {
      origin: 'bottom',
      duration: 1000,
      viewFactor: 0.1,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.uniqlo-story-L', {
      origin: 'bottom',
      duration: 1000,
      viewFactor: 0.1,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
    sr.reveal('.project-footer', {
      origin: 'bottom',
      duration: 1000,
      viewFactor: 0.1,
      scale: 1,
      reset: false,
      easing: 'ease-out',
    });
  </script>
</body>
