---
title: U by Uniqlo - Concept Design
---

<header>
  <div class="nav-header">
    <div class="logo-header">
      <div id="logo-desktop"><img src="images/db_logo.png"/></a></div>
    </div>
    <div class="mySidenavMenu">
      <span onclick="openNav()">Menu</span>
    </div>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <img src="images/db_logo_extended.png"/>
      <ul>
        <a href="index.html">Home</a>
        <a href="">Work</a>
      </ul>
    </div>
    <div class="nav-menu">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="">Work</a></li>
      </ul>
    </div>
  </div>
</header>
<body>
  <div class="uniqlo-intro">
    <div class="project-intro">
      <p class="intro-body">Welcome to<br></p>
      <p class="intro-title">U by<br>Uniqlo<br></p>
      <p class="intro-body">U by Uniqlo is a concept design for a retail companion app to enhance the Fitting Room and Check Out experience for users at their local Uniqlo.</p>
    </div>
    <section class="uniqlo-hero">
      <img class="project-hero-image" src="images/bg_uniqlo_splash.png"><img>
      <h3 class="project-subtitle">Browse & Send<br></h3>
      <p class="project-body">Browse a curated collection of styles and add items to your digital fitting room. Send the styles to your local Uniqlo to pick up and try on.<br><br></p>
      <h3 class="project-subtitle">Pick Up & Try On<br></h3>
      <p class="project-body">Visit your local Uniqlo to pick up your Smart Bag and styles to try on. Use the Smart Mirror to request additional sizes or styles.<br><br></p>
      <h3 class="project-subtitle">Grab & Go<br></h3>
      <p class="project-body">Fill your Smart Bag with the items that you’d like to keep. Walk out of the store with your Smart Bag and you will automatically be charged for your items. No lines. No wait.<br><br></p>
      <div class="clearfix"></div>
    </section>
    <div class="clearfix"></div>
  </div>
  <section class="uniqlo-body">
    <section class="uniqlo-research">
      <div class="project-image-one-half">
        <img src="images/uniqlo_research.gif" class="uniqlo-research-image"></img>
      </div>
      <div class="project-text-one-half">
        <div>
          <img src="images/uniqlo_research_icon.jpg" class="uniqlo-research-icon"></img>
        </div>
        <h3 class="project-header-white">How do you shop?<br></h3>
        <p class="project-body-white">Almost all users preferred in-store shopping, so the data regarding this experience became very important. The most informative feedback was found within the open-ended responses.<br><br></p>
        <h3 class="project-subtitle-white">A Tactile Connection<br></h3>
        <p class="project-body-white">A majority of the open-ended responses focused on the user’s ability to see, touch and try on items before purchasing. This need for a tactile connection was also evident in user feedback regarding the digital retail experience; many users were frustrated  with the wait for items to arrive, only to find they did not fit properly or match the product imagery. Users also expressed frustrations with long lines, crowds and pushy sales associates.</p>
      </div>
    </section>
    <section class="uniqlo-personas">
      <div class="project-image-one-third">
        <img src="images/uniqlo_up_alex.png" class="uniqlo-persona-image"></img>
      </div>
      <div class="project-image-one-third">
        <img src="images/uniqlo_up_brigid.png" class="uniqlo-persona-image"></img>
      </div>
      <div class="project-text-one-half">
        <h3 class="project-header">What's your experience?<br></h3>
        <p class="project-body">User personas echoed the results of the user surveys, but Alex indicated that he still liked to use digital retail apps & sites as a “look book” for styles. Brigid wanted the in-store try on to be optimized, as it can be frustrating to bring items into the fitting room only to have to get re-dressed to get additional sizes & styles.<br><br></p>
      </div>
      <div class="clearfix"></div>
      <div class="uniqlo-store-diagrams">
        <div class="project-image-one-fourth">
          <img src="images/uniqlo_store_01.png" class="uniqlo-store-image-up"></img>
        </div>
        <div class="project-image-one-fourth">
          <img src="images/uniqlo_store_02.png" class="uniqlo-store-image-down"></img>
        </div>
        <div class="project-image-one-fourth">
          <img src="images/uniqlo_store_03.png" class="uniqlo-store-image-up"></img>
        </div>
        <div class="project-image-one-fourth">
          <img src="images/uniqlo_store_04.png" class="uniqlo-store-image-down"></img>
        </div>
      </div>
      <div class="project-text-full">
        <h3 class="project-subtitle">Enhance the In-Store Experience<br></h3>
        <p class="project-body">Quick store plan diagrams explored various potential in-store scenarios, including in-store pickup, rapid pickup, fitting room pickup, and a Smart Bag technology for automatic check out.<br><br></p>
      </div>
    </section>
    <section class="uniqlo-simplicity">
      <div class="project-image-one-half">
        <img src="images/uniqlo_simplicity.gif" class="uniqlo-simplicity-list"></img>
      </div>
      <div class="project-text-one-half">
        <p class="project-body-white">The application continued to grow until it could no longer be considered an MVP, and much of the functionality could already be found on the existing mobile site. Most importantly, it no longer adhered to Uniqlo’s tag line:<br><br></p>
        <h3 class="project-header-white">Simple Made Better.<br></h3>
        <p class="project-body-white">Though many of these ideas could help to differentiate Uniqlo, U by Uniqlo needed to employ simplicity as a differentiator. By focusing on the fitting room and in-store check out experience, the application could remove many of the “road-blocks” that exist in the typical retail experience.</p>
      </div>
    </section>
    <section class="uniqlo-identity">
      <div class="project-image-one-half">
        <img src="images/uniqlo_identity.gif" class="uniqlo-identity-logo"></img>
      </div>
      <div class="project-text-one-half">
        <h3 class="project-header">An Identity<br>within an Identity<br></h3>
        <p class="project-body">U by Uniqlo needed an identity that set itself apart from the typical Uniqlo experience, but also one that was clearly connected to the brand and its simplicity. The U by Uniqlo logo begins with the iconic red square logo. The “U” in Uniqlo is expanded to represent the personalized experience of the application (U=You) and is then pushed up, transforming the logo into the Smart Bag.</p>
        <img src="images/uniqlo_typography.jpg" class="uniqlo-identity-typography"></img>
        <p class="project-body">Campton was chosen as the typeface for U by Uniqlo, as its strong geometric shape provided a distinct contrast to the tall, narrow Uniqlo typeface.<br><br></p>
      </div>
      <div class="clearfix"></div>
    </section>
    <section class="uniqlo-story">
      <div class="project-image-full">
        <img src="images/uniqlo_story.gif" class="uniqlo-story-intro"></img>
      </div>
      <div class="project-text-full">
        <h3 class="project-header">What's the<br>(Short) Story?<br></h3>
        <h3 class="project-subtitle">1. Browse & Send<br></h3>
        <p class="project-body">Browse a curated collection of styles and add items to your digital fitting room. Send the styles to your local Uniqlo to pick up and try on.<br><br></p>
        <h3 class="project-subtitle">2. Pick Up & Try On<br></h3>
        <p class="project-body">Visit your local Uniqlo to pick up your Smart Bag and items to try on. Use the Smart Mirror to request additional sizes or styles.<br><br></p>
        <h3 class="project-subtitle">3. Grab & Go<br></h3>
        <p class="project-body">Fill your Smart Bag with the items that you’d like to keep. Walk out of the store with your Smart Bag and you will automatically be charged for your items. No lines. No wait.<br><br></p>
      </div>
      <div class="clearfix"></div>
      <div class="uniqlo-story-u">
        <div class="uniqlo-story-u-text">
          <h3 class="project-header">Who <br> are U?<br></h3>
          <h3 class="project-subtitle">The Basics<br></h3>
          <p class="project-body">The user fills out brief profile information which includes login information, gender preferences for apparel and their local Uniqlo store.<br><br></p>
        </div>
      </div>
      <div class="uniqlo-story-u-image">
        <img src="images/uniqlo_story_onboarding.jpg" class="uniqlo-story-onboarding"></img>
      </div>
    </section>
  </section>
</body>
